:root {
  /* Breakpoints for actual use. Used as a place to referece all the different breakpoints used */
  --breakpoint--mobile: 480px;
  --breakpoint--tablet: 768px;
  --breakpoint--laptop: 1024px;
  --breakpoint--desktop: 1200px;

  --radial--size: 1px;

  --color--white: #ffffff;
  --color--black: #000000;
  --color--gray: #7a8c97;

  --background--color: #e4e9f1;
  --background--secondary: #fff;
  --text--color: var(--color--black);
  --text--color--opposite: var(--color--white);
  --color--primary: #01a7c2;
  --color--secondary: #086c71;
}

@media (prefers-color-scheme: dark) {
  :root {
    --radial--size: 0.5px;

    --background--color: #15283b;
    --text--color: var(--color--white);
    --text--color--opposite: var(--color--black);
    --background--secondary: #2d3b4e;
    --color--primary: #ff9a1f;
    --color--secondary: #fbb13c;
  }
}

::selection {
  background: var(--background--secondary);
}

@font-face {
  font-family: 'beyno';
  src: url('../fonts/beyno/beyno-webfont.woff2') format('woff2'), url('../fonts/beyno/beyno-webfont.woff2') format('woff'), url('../fonts/beyno/BEYNO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* ==========
  Basic Styles
========== */

body {
  background-color: var(--background--color);
  font-family: 'Lato', 'Lora', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  color: var(--text--color);
}

.body__wrapper {
  max-width: 80ch;
  margin: auto;
  margin-bottom: 1em;
}

.main__wrapper {
  margin: 1em 1.5em;
  margin-bottom: 0;
}

.content__wrapper {
  max-width: 65ch;
  margin: auto;
}

h1 {
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
  border-top: 1px solid var(--color--gray);
  margin: 0.5em 0;
}

p {
  line-height: 1.7;
}

i {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  /* Resetting Defualt Link Styles */
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: var(--color--primary);
  transition: all 0.1s ease-in-out;
}

.italicized {
  font-style: italic;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 1em;
  }
}

/* ==========
  Horizontal rule design from Ganymede by Mingjie Jiang (https://go.srsh.link/8rLmXU)
========== */

hr.fancy-hr {
  background: linear-gradient(to left, currentColor calc(50% - 12px), transparent calc(50% - 12px), transparent calc(50% + 12px), currentColor calc(50% + 12px));
  background-color: transparent;
  border: none;
  height: 0.08rem;
  overflow: visible;
  position: relative;
  color: var(--color--gray);
  margin: 1.2rem auto;
}

hr.fancy-hr::before,
hr.fancy-hr::after {
  background: currentColor;
  content: '';
  display: block;
  height: 0.8rem;
  position: absolute;
  top: calc(50% - 0.4rem);
  transform: rotate(22.5deg);
  width: 0.1rem;
}

hr.fancy-hr::before {
  left: calc(50% - 0.25rem);
}

hr.fancy-hr::after {
  right: calc(50% - 0.25rem);
}

/* ==========
  Navigation
========== */

.header {
  max-width: 80ch;
  margin: auto;
  margin-bottom: 2em;
}

nav {
  font-family: 'Lora', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: space-between;
}

.nav__group a {
  display: inline-block;
}

.nav__group a + a {
  margin-left: 0.5em;
}

.logo {
  font-family: 'beyno', 'Lora', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.username {
  color: var(--color--gray);
  margin-left: 0;
}

.nav__local {
  position: relative;
  padding: 0.2em 0.4em;
  transition: color 0.4s ease-in-out;
}

.nav__local:hover {
  color: var(--text--color) !important;
}

.nav__local::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  max-width: 0;
  background-color: transparent;
  border-bottom: 1px solid var(--color--primary);
  transition: max-width 0.3s ease-in-out;
}

.nav__local:hover::after {
  max-width: 200px;
}

@media screen and (max-width: 480px) {
  .nav__group .username {
    display: none;
  }
}

/* ==========
  Hero Secion
========== */

.hero {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--breakpoint--tablet) / 2), 1fr));
}

.hero h1 {
  font-size: 3em;
}

@media screen and (max-width: 480px) {
  .hero {
    margin-top: 1em;
  }
}

/* ==========
  Form Section
========== */

.form {
  /* background-color: var(--background--secondary); */
}

.form__group {
  padding: 0.5em;
}

.form__group--inline {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 1em;
}

.form__group h2 {
  margin-bottom: 0.5em;
}

input {
  background-color: var(--background--secondary);
  padding: 0.5em 1em;
  width: 100%;
  color: var(--text--color);
  border-radius: max(0.3em, 5px);
}

input:focus {
  outline: none;
  border-color: var(--color--primary);
}


button:hover {
  cursor: pointer;
}

.form button {
  font-size: 1em;
  background-color: var(--color--gray);
  transition: all 0.1s ease-in-out;
  color: var(--text--color);
    border-radius: 0.2em;

}

.form button:active {
  color: var(--text--color--opposite);
}

/* ==========
  Featured Posts
========== */

.featured {
  margin: 1em;
  margin-top: 2.5em;
  background-image: radial-gradient(var(--color--secondary) var(--radial--size), transparent var(--radial--size));
  background-size: calc(10 * var(--radial--size)) calc(10 * var(--radial--size));
}

.featured__wrapper {
  background-color: var(--background--color);
  transform: translate(20px, -20px);

  padding: 1em;
}

.featured__posts {
  margin-top: 1em;
}

h2 .fas.fa-bookmark {
  font-size: 0.8em;
  margin-right: 0.2em;
}

.featured__posts .post + .post {
  margin-top: 1.5em;
}

.featured__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured__group:nth-of-type(2) {
  display: none;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .featured__posts {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr 1fr;
  }

  .featured__group:nth-of-type(2) {
    display: flex;
  }
}

/* ==========
  Pinned Pages
========== */

.pinned {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 3em;
  color: var(--text--color);
}

@media screen and (max-width: 480px) {
  .pinned {
    margin: 1.5em 1.5em;
  }
}

/* ==========
  Tag List
========== */

.tag-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1.5em 0;
}

.tag-list * {
  margin: 0.3em;
  color: var(--color--gray);
}

/* ==========
  Post List
========== */

.post + .post {
  margin-top: 2em;
}

.post__meta {
  color: var(--color--gray);
}

/* ==========
  Footer
========== */

.footer {
  width: 100%;
  background-color: var(--background--secondary);
  margin-bottom: 0;
  margin-top: 2em;
  padding: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.footer i {
  transition: all 0.1s ease-in-out;
}

.footer p {
  color: var(--color--gray);
}

.footer i + i {
  margin-left: 0.3em;
}

.fab.fa-twitter:hover,
.fab.fa-twitter:active {
  color: #1da1f2;
}

.fab.fa-instagram:hover,
.fab.fa-instagram:active {
  background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%),
    linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.far.fa-envelope:hover,
.far.fa-envelope:active {
  color: var(--color--primary);
}

/* ==========
  Post Styles
========== */

.post__info h1 {
  margin-bottom: 0;
}

.bold-hr {
  border-top: 2px solid var(--color--gray);
}

.post__content p {
  margin-top: 1em;
}

.post a {
  color: var(--color--primary);
  border-bottom: 2px dotted currentColor;
  transition: all 0.1s ease-in-out;
}

.post a:hover,
.post a:active {
  color: var(--color--primary);
  border-bottom: 1px solid var(--color--primary);
}