:root {
  /* Breakpoints for actual use. Used as a place to referece all the different breakpoints used */
  --breakpoint--mobile: 480px;
  --breakpoint--tablet: 768px;
  --breakpoint--laptop: 1024px;
  --breakpoint--desktop: 1200px;

  --color--white: #ffffff;
  --color--black: #000000;
  --color--gray: #7a8c97;

  --background--color: #e4e9f1;
  --background--secondary: var(--color--white);
  --text--color: var(--color--black);
  --text--color--opposite: var(--color--white);
  --color--primary: #fbb13c;
  --color--secondary: #ff9a1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background--color: #15283b;
    --text--color: var(--color--white);
    --text--color--opposite: var(--color--black);
    --background--secondary: #2d3b4e;
  }
}

@font-face {
  font-family: 'beyno';
  src: url('../fonts/beyno/beyno-webfont.woff2') format('woff2'), url('../fonts/beyno/beyno-webfont.woff2') format('woff'), url('../fonts/beyno/BEYNO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--background--color);
  font-family: 'Lato', 'Lora', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  color: var(--text--color);
  padding: 1em 1em;
}

.body__wrapper {
  max-width: 80ch;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.italicized {
  font-style: italic;
}

/* ==========
  Navigation
========== */

nav {
  font-family: 'Lora', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: space-between;
}

.nav__group p {
  list-style: none;
  display: inline-block;
}

.nav__group p + p {
  margin-left: 0.5em;
}

.logo {
  font-family: 'beyno', 'Lora', 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.username {
  color: var(--color--gray);
  margin-left: 0;
}

/* ==========
  Hero Secion
========== */

.hero {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--breakpoint--tablet) / 2), 1fr));
}

.hero h1 {
  font-size: 3em;
}

.form {
  background-color: var(--background--secondary);
}

.form__group {
  padding: 1.2em;
}

.form__group--inline {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 1em;
}

.form__group h2 {
  margin-bottom: 0.5em;
}

input {
  background-color: var(--background--secondary);
  padding: 0.2em;
  border-bottom: 1px solid var(--text--color);
  width: 100%;
  color: var(--text--color);
  border-radius: 0px;
}

input:focus {
  outline: none;
  border-color: var(--color--primary);
}

.form button {
  font-size: 1.5em;
  background-color: var(--color--primary);
  transition: all 0.1s ease-in-out;
  color: var(--text--color--opposite);
}

.form button:active {
  color: var(--text--color);
}

/* ==========
  Featured Posts
========== */

.featured {
  height: 80%;
  margin: 1em;
  margin-top: 2.5em;
}

.featured__posts {
  margin-top: 1em;
}

.post__title {
  color: var(--color--gray);
}

h2 .fas.fa-bookmark {
  font-size: 0.8em;
  margin-right: 0.2em;
}

h3 {
  margin-bottom: 0.2em;
}

.featured__posts .featured__post + .featured__post {
  margin-top: 1.5em;
}

.featured__group {
  display: grid;
  grid-template-rows: repeat(1fr);
}

.featured__group:nth-of-type(2) {
  display: none;
}

/* ==========
  Media Queries
========== */

@media screen and (max-width: 480px) {
  body {
    font-size: 1em;
  }

  .nav__group .username {
    display: none;
  }

  .hero {
    margin-top: 1em;
  }
}

@media screen and (max-width: 768px) {
  .featured__posts {
    display: flex;
  }

  .featured__group:nth-of-type(2) {
    margin-left: 1em;
    display: block;
  }
}
